# Output directories
build/
out/
target/

# Mac OS X files
.DS_Store

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.settings
.classpath
.project

# Gradle
.gradle/

# Log directory
logs/

# vim files
.*.sw[a-z]
*.un~

# Java class files
*.class
/bin
logs
.vagrant
*.class
*.log
*.idea
*.iml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
